@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Cinzel:wght@400;500&family=Crimson+Pro:wght@200&family=Permanent+Marker&family=Rowdies:wght@300&family=Space+Mono&family=Special+Elite&family=Trispace:wght@100;200;300;400&display=swap');

body{
  background-color: antiquewhite;
}
h2
{
  text-align: center;
  font-family: "Caveat";
  font-size: 100px;
  margin-top: 70px;
  margin-bottom: 20px;
}


.App {
  text-align: center;
  background-color: antiquewhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
